* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* scroll-behavior: smooth; */
  }
  
  body {
    /* min-height: 400vh; */
    overflow-x: hidden;
    background-color: #faeee7;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #594a4e;
  }
  .logo {
      max-width: 3em;
      /* padding: 1em; */
  }
 
  .shoppy {
      text-align: center;
      padding: 4em;
  }

  /* nav bar  */
a {
    color: #ffffff;
  }
  a:link {
  text-decoration: none;
  color: #ffffff;
}
a:visited {
  color: #ffffff;
}
a:active {
  color: #ffffff;
}
a:hover {
  color: #ffffff;
}

.link {
  max-width: 3em;
  padding: .5em;
}
.underline{
  position: relative;
}
.underline::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #EC7DAE;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

  /* header */
  
  .header {
    background-color: #EC7DAE;
    box-shadow: 1px 1px 4px 0 rgba(111,58,82,.1);
    position: fixed;
    width: 100%;
    z-index: 3000;
    border-radius: 2px;
    margin: 0;
    left: 0;
    top: 0px;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #EC7DAE;
    
  }
  
 li {
   max-height: 100px;
 }

  .header li a {
    display: block;
    padding: 20px 20px;
    /* border-right: 1px solid #f4f4f4; */
    text-decoration: none;
    align-items: center;
    
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #fffffe;
  }
  
  .header .logo {
    display: flex;
    float: left;
    font-size: 2em;
    /* padding: 10px 20px; */
    /* text-decoration: none; */
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: flex;
    float: right;
    padding: 2.2em;
    position: relative;
    /* user-select: none; */
  }
  
  .header .menu-icon .navicon {
    background: #fffffe;
    display: flex;
    align-items: center;
    height: 3px;
    position: relative;
    transition: background .2s ease-out;
    width: 25px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #fffffe;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 10px;
  }
  
  .header .menu-icon .navicon:after {
    top: -10px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 300px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
 
  
  .flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  .port {
    padding: 2em;
    border-radius: 25px;
  }
  
  .socials {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
/* end nav baar   */


/* caraousel  */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 630px;
  }
  .carousel-inner .item img {
      height: 520px;
      width: 90vw;
      border-radius: 25px;
  }
  
  .carousel-indicators li {
      border-color: #ff8ba7;
  }
  
  .carousel-indicators .active{
      background-color: #ff8ba7 !important;
  }
  
  .carousel-control:hover, .carousel-control {
      background: transparent !important;
      height: 520px;
  }
  
  .carousel-control span {
      color: #ff8ba7;
  }
  
  @media (max-width: 767px) {
      .carousel-inner .item img {
          height: 300px; 
      }
      .carousel-control:hover, .carousel-control {
          height: 300px;
      }
  }
/* end carousesl  */

/* felxbox thin  */
.car-hold {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.flexbox-holder-p {
    flex: 50%;
    padding: 2em;
}
.flexbox-holder-c {
    flex: 50%;
    padding: .5em 1em; 	
}
@media (max-width: 800px) {
    .car-hold {
      flex-direction: column-reverse;
    }
  }
  .carouse-hold {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  @media (max-width: 800px) {
    .carouse-hold {
      flex-direction: column;
    }
  }
/* end of flexbox thing  */


  /* whole up  */
.home-section {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.home-section:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  /* background: linear-gradient(to top, #faeee7, transparent); */
  z-index: 1000;
}

.home-section img {
  position: absolute;
  top: 70px;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

.home-section img#mountains_front {
  z-index: 10;
  top: 250px;
}

/* form thing  */
.dumbform {
    padding-top: 4em;
}

.doot {
    display: flex;
    align-items: center;
  }

input[type=text], [type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #ffb6b7;
    border-radius: 24px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #594a4e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #ff8ba7;
  }
  
  legend {
    border-bottom: 0px solid #594a4e;
    font-family: 'M PLUS Rounded 1c', sans-serif !important; 
    color: #594a4e !important; 
    text-align: center;
    padding-top: 4em;
  }
  
  .formthing {
    border-radius: 25px;
    background-color: rgba(255, 255, 255, .6);
    padding: 20px;
    text-align: left;
    /* border: 2px solid #6F3A52; */
  }
/* end form thing  */


/* portfolio gallery scroll thng  */
.flippycardy {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-self: center;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    flex: 100%;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: white;
    color: #594a4e;
  }
  
  .flip-card-back {
    background-color: #ffc6c7;
    color: white;
    transform: rotateY(180deg);
  }

  @media (max-width: 800px) {
    .flippycardy {
      flex-direction: column;
    }
  }
/* portfolio scroll end  */
.stupidspace {
    min-height: 4em;
}

.flippycardy {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
.flip-card {
      padding: 1em; 	
  }


@media screen and (min-width:300px) {
    .flip-card {
        flex: none;
        /* max-width: 40em; */
    }
    .flippycardy {
        justify-content: center;
    }
    
}

/* footer  */
.foot {
    background-color: #EC7DAE;
    box-shadow: 1px 1px 4px 0 rgba(111,58,82,.1);
    width: 100%;
    border-radius: 2px;
    margin: 0;
    /* position: absolute; */
    bottom: 0;
    left: 0;
    padding: 1em;
    text-align: center;
    padding: 1em;
}
.socialist {
    padding: 2em;
}
/* end footer  */

/* img grid */
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: #e60023;
}

body, html  {
  width: 100%;
}

body {
  display: grid;
  place-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 100%;
  column-gap: 1em;
  padding: 2em;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.image-wrapper > img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.content-wrapper p {
  padding: 0.5em 0 0 0.5em;
  font-weight: bold;
}

.overlay {
  cursor: zoom-in;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  padding: 0.75em;
  color: white;
  opacity: 0;
}

.overlay:hover {
  opacity: 1;
}

.overlay div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.overlay div > p {
  cursor: pointer;
}

.overlay div .round-button:nth-child(2) {
  margin-left: auto;
  margin-right: 0.7em;
}


@media (max-width: 1050px) {
  .container {
     grid-template-columns: repeat(3, 1fr);
  }
  
  .column:last-child {
    display: none;
  }
}

@media (max-width: 800px) {
  .container {
     grid-template-columns: repeat(2, 1fr);
  }
  
  .column:nth-child(3) {
    display: none;
  }
}

@media (max-width: 550px) {
  .container {
     grid-template-columns: 1fr;
    gap: 3em;
  }
 
  .column:nth-child(3) {
    display: flex;
  }
  
  .column:last-child {
    display: flex;
  }
  
} */

.work__grid {
  display: inline-block;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  column-count: 3;
  column-gap: 2.5rem;
  column-rule-color: transparent;
  column-rule-style: none;
  column-rule-width: 0px;

}

.work__item {
  display: block;
  overflow: hidden;
  margin-bottom: 2.5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: 0.25em 0.25em 2em rgba(55, 49, 38, 0.5);
 
}

.work__image {
  width: 100%;
}
