body {
    color: palevioletred;
}

.imgcards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

img {
    max-width: 20em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    border-radius: 30px;
}